<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        {% block style %}
        {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/styles.css') }}" />
    {% endblock %}

    <title>Title</title>
</head>
<body>
    <div class="container py-5">
        <h1>Delete your Tweets/Xs</h1><br>
        {% from 'bootstrap5/form.html' import render_form %}
        {{ render_form(form) }}

        <div class="d-flex flex-wrap justify-content-center align-items-center py-3 my-4 border-top">
          <p class="py-3">© {{ current_year }} MokotoK | TODO: add addresses here</p>
          <ul class="nav col px-5 justify-content-end">
            <li class="nav-item"><a href="https://github.com/Mokoto-K" class="nav-link px-2 text-body-secondary">Git</a></li>
            <li class="nav-item"><a href="https://x.com/MokotoK" class="nav-link px-2 text-body-secondary">X</a></li>
          </ul>
        </div>
    </div>
</body>
</html>