<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block style %}
      {{ bootstrap.load_css() }}
      <link rel="stylesheet" href="{{ url_for('static', filename='/css/styles.css') }}" />
    {% endblock %}
    <title>Delete Your Tweets</title>
</head>
<body>
  <div class="container my-5 py-3 px-3" id="outer-container">
    <h1 class="container text-center">Delete Your Tweets</h1>
    <section id="main-content" class="main-content">
      <div class="container py-5 d-flex ">
      <div class="container py-5">
        {% from 'bootstrap5/form.html' import render_form %}
        {{ render_form(form, button_map={"submit": "dark"}) }}
      </div>

      <div class="container py-5 mx-5">
        <p>
          A very simple way to delete posts on twitter.
          <ul>
            <li>Make sure you have chrome installed</li>
            <li>Enter your email and password</li>
            <li>Click Delete</li>
          </ul>
          Sit back and watch the magic as the bot systematically opens twitter, signs in, navigates to your profile
          and begins deleting your tweets.

          Since this requires no verification it can only delete one tweet at a time, so go make a coffee or tea
          while your computer does the rest.
        </p>
      </div>
    </div>

    </section>

  </div>

</body>
<footer>
    <div class="container d-flex flex-wrap justify-content-center align-items-center py-3 my-4 border-top">
      <p class="py-3">© {{ current_year }} MokotoK | TODO: add addresses here</p>
        <ul class="nav col px-5 justify-content-end">
          <li class="nav-item"><a href="https://github.com/Mokoto-K" class="container nav-link px-2 ">Git</a></li>
          <li class="nav-item"><a href="https://x.com/MokotoK" class="container nav-link px-2 ">X</a></li>
        </ul>
    </div>
  </div>

</footer>

</body>
</html>
